.task__container {
  width: 600px;
  margin: 10px 0;
  border: 2px solid teal;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task__header {
  margin: 10px;
}

.task__content {
  margin: 10px;
}

.deleteButton__container {
  float: right;
  margin-right: 10px;
}

.deleteButton {
  color: red;
  background: transparent;
  padding: 5px 15px;
  border: 2px solid teal;
}

.deleteButton:active {
  background-color: #f0f0f0;
}
.deleteButton:hover {
  cursor: pointer;
}
